*, *::after, *::before
  box-sizing: border-box

html
  font-size: $baseSize!important
  @include font(default)

body
  font-size: $baseSize!important
  min-width: 320px
  position: relative
  line-height: 1.6
  overflow-x: hidden
  color: $grey
  @include font(default)

ul
  margin: 0
  padding: 0

textarea, input, select
  border-radius: 0!important
  -webkit-appearance: none!important